* {
    margin: 0px;
    padding: 0px;
    transition: all 0.3s;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/chair-2584260_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: rgba(0, 0, 74, 0.878);
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    margin: 30px;
}

legend{
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
    color: white;
}

label{
    font-size: 15px;
    padding: 5px;
    color: white;
}
input{
    font-size: 15px;
    padding: 5px;
    color: white;
}
p{
    color: white;
    font-size: 25px;
    padding: 5px;
    margin-top:15px;
}
fieldset>div{
    display: flex;
    align-items: stretch;
    gap: 20px;
}
#telefono{
    width: 40%;
}
#igiene-label, #allineamento-label, #estrazione-label, #altro-label{
    padding: 0px;
    margin: 0px;
}
#radio-check{
    display: flex;
    margin: 10px 0px;
}
#radio-check>div{
    display: flex;
    gap:8px;
}
#pulsanti{
    gap: 10%;
    margin-top: 15px;
    justify-content: center;
}
#pulsanti input{
    width:25%;
    border-radius: 10px;
    box-shadow: 2px 2px lightblue;
}
#prenota{
    background-color: rgb(106, 106, 255);
    color: black;
}
#annulla{
    background-color: rgb(195, 195, 195);
    color: black;
}
#prenota:hover{
    background-color: lightblue;
    box-shadow: none;
    position: relative;
    top:2px;
    left:2px;
}
#annulla:hover{
    background-color: rgb(82, 82, 82);
    color: white;
    box-shadow: none;
    position: relative;
    top:2px;
    left:2px;
}